@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header {
    background-color:#0cc;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: #000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: Blue;
    background-color: #f8f8f8; 
}

h1, h2 {
    color: #0066cc; 
}

h1 {
    text-align: center; 
    position: relative; 
}

h1::after {
    content: ''; 
    position: absolute; 
    bottom: -10px; 
    left: 50%;
    transform: translateX(-50%);
    width: 1300px;
    height: 2px; 
    background-color: #333; 
}
#menu {
    display: none; 
}
nav {
    background-color: #0066cc;
    padding: 10px;
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
}

nav li {
    margin: 0 10px; 
    font-size: 18px; 
}

nav a {
    color: #fff; 
    text-decoration: none;
    display: block; 
    padding: 15px; 
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 15px;
}

nav .active {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

ul {
    list-style-type: none; 
    padding: 0; 
}

li {
    margin-bottom: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
}

.card {
    background-color: #fff; 
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}


